.interest {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
 }
  
h2 {
    margin-bottom: 0;
}
  
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 0 0 2px;
    padding: 0;
    width: 80%
}
  