<div id="page-wrap">

    <div id="objective">
      <i>Resourceful</i> and <i>versatile</i> software developer passionate about innovation and new technologies,
      and having hands-on experience of all the phases of the software development life cycle (<i>SDLC</i>).
    </div>
    <!-- the following is required to correct the side-effect of float statement -->
    <dd class="clear"></dd>
  
    <h2 style="margin: 1em 0 0 0;">Core Strength</h2>
    <hr class="top"/>
  
    <div  class="core">
      <ul>
        <li>Object-oriented Analysis, Design, and Programming</li>
        <li>Knowledge of <i>Jersey, Spring Framework, Hibernate, XML,</i> and <i>Android</i></li>
        <li>Knowledge of <i>Agile, Scrum, TDD,</i> and <i>Six Sigma</i></li>
        <li>Problem solving and analytical skills</li>
      </ul>
    </div>
    <hr/>
  
    <br/>
  
    <h2 style="margin: 0;">Computer Skills</h2>
    <hr class="top"/>
    <table>
      <tr>
        <td><b>Languages</b></td>
        <td>Java, Python, C/C++, JavaScript, Shell scripts, HTML5, CSS, Awk, Perl, Groovy, SQL, Makefile, UML</td>
      </tr>
      <tr>
        <td><b>Platforms</b></td>
        <td>Linux (RedHat, Ubuntu, CentOS), Windows (3.1 - 10), Windows Server (2008, 2012), Unix (Solaris, HP, AIX), AWS, GCP</td>
      </tr>
      <tr>
        <td><b>Technologies</b></td>
        <td>Multi-tier web server, Client-server application, Desktop application, AngularJS, GIT, ClearCase</td>
      </tr>
      <tr>
        <td><b>Databases</b></td>
        <td>PostgreSQL, MySQL, SQL Serve</td>
      </tr>
      <tr>
        <td><b>Tools</b></td>
        <td>IntelliJ, Eclipse, Visual C++, Visual Studio, PowerShell ISE, VIM, Android Studio, XMLSpy, Wireshark, snoop, WinPcap,
          Microsoft Office Products</td>
      </tr>
    </table>
    <hr/>
    <br/>
    <br/>
    <h2 style="margin: 0;">Education</h2>
    <hr class="top"/>
  
    <table class="education">
      <tr>
        <td class="img"><img mat-card-avatar src="assets/images/uwaterloo.png" alt="">  </td>
        <td>University of Waterloo<br/>Ph.D., Physics</td>
      </tr>
      <tr>
        <td class="img"><img mat-card-avatar src="assets/images/pekingu.png" alt="">  </td>
        <td>Peking University<br/>BSc., Physics</td>
      </tr>
    </table>
    <hr/>
</div>
  